.content {
  position: relative;
}
.expander {
  display: block;
  padding-left: 1em;
  background: rgba(255, 255, 255, 1);
  font-size: 2em;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
}
