.Tabs {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  line-height: 2em;
}

.Tabs li {
  display: inline-block;
}

.Tabs li + li {
  margin-left: 1em;
}

.Tabs li a {
  padding: 0.5em 1em;
  background: #fff;
  border-radius: 1em;
}
