.blocks {

}

.blocks a {
  color: #06c;
  text-decoration: none;
}

.blocks :global .active {
  color: #f00;
}

.block {
  padding: 1em;
  background: rgba(0, 0, 0, 0.1);
}

.red {
  padding: 1em;
  background: rgba(255, 0, 0, 0.3);
}

.green {
  padding: 1em;
  background: rgba(0, 255, 0, 0.3);
}
