.tabs {
  list-style: none;
  margin-bottom: 1em;
  line-height: 2em;
}

.tabs li {
  display: inline-block;
}

.tabs li + li {
  margin-left: 1em;
}

.tabs li a {
  padding: 0.5em 1em;
  background: #fff;
  border-radius: 1em;
}
